body {
	padding: 0;
	margin: 0;
}

#nav {
	background-color: #1E1E24;
	height: auto;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}

#nav ul {
	padding: 0;
}

#nav li {
	color: #FFF;
	display: inline-block;
	margin: 20px;
	text-transform: uppercase;
}

#nav a {
	font-family: 'Catamaran', sans-serif;
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: bold;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

#formLogin {
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #FFF;
	font-family: 'Catamaran', sans-serif;
	font-weight: bold;
	background-color: #1E1E24;
	border-radius: 10px;
}

.inputField {
	padding: 2px;
	width: 100px;
	height: 1.5em;
	background-color: #1E1E24;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 2px;
}

.btn {
	font-family: 'Ruda', sans-serif;
	padding: 5px 15px;
	background-color: #1E1E24;
	border: 2px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	font-weight: bold;
}

#formLogin .inputField, #formLogin .btn {
	margin-top: 25px;
}

.label {
	margin-right: 10px;
}