* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-image: url('../images/5.jpg');
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

#formLogin {
	height: 300px;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #FFF;
	font-family: 'Catamaran', sans-serif;
	font-weight: bold;
	background-color: #1E1E24;
	border-radius: 10px;
}

.inputField {
	padding: 2px;
	width: 100px;
	height: 2em;
	background-color: #1E1E24;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 2px;
}

.btn {
	font-family: 'Ruda', sans-serif;
	padding: 5px 15px;
	background-color: #1E1E24;
	border: 2px solid #FFF;
	border-radius: 2px;
	color: #FFF;
	font-weight: bold;
}

#formLogin .inputField, #formLogin .btn {
	margin-top: 25px;
}

.label {
	margin-right: 10px;
}